= table do
  - cohort = {}
  - entity.samples.each do |sample|
    - cohort[sample] = sample.mutations

  - MutationSignatures.job(:cohort_signatures, entity, :cohort => cohort, :organism => entity.organism, :watson => entity.watson).run

= table do
  - cohort = {}
  - entity.samples.each do |sample|
    - cohort[sample] = sample.mutations

  - MutationSignatures.job(:mutation_oportunities, entity.organism).run
