= action_card_render ActionCard.new do
  = table do
    - MutationSignatures.job(:context_change_count, list_id, :mutations => list.clean_annotations, :organism => list.organism, :watson => list.watson).run
 
